body {
  background-color: rgb(240, 248, 255);
}

p {
  margin: 0;
}

.resultspage_  {
  border: 1px solid rgba(160, 160, 160, 0.4);
  box-shadow: 0 0 10px rgba(160, 160, 160, 0.8);
  width: 40%;
  height: 300px;
  background-color: rgb(250, 250, 255);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.profile{
  border: 1px solid rgba(160, 160, 160, 0.4);
  box-shadow: 0 0 10px rgba(160, 160, 160, 0.8);
  width: 80%;
  padding: 20px;
  background-color: rgb(250, 250, 255);
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  border-radius: 10px;
}

.title {
  margin: 30px;
}

.btn {
  height: 40px;
  width: 120px;
}

.btn {
  margin: 20px;
}

.text__question {
  width: 400px;
}

input[type="radio"] {
  margin: 4px;
}
